@import '@styles/base';

.mainContainer{
    background-color: white;
    color: black;
    margin-inline: auto;
    padding-left: 5rem;
    box-sizing: border-box;
}
.hero{
    padding-bottom: 150px;

}
input:focus {
    outline: 2px solid transparent;
  }

  .flex{
    display: flex;
    flex-direction: left;
  }
  .started{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background: rgb(103, 211, 238);
    border-radius: 10px;
    color: white;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    &:hover {
      background-color: rgba(2, 5, 12, 0.2);
    }
  }

  .textChild{
    color: grey;
  }

  .backgroundCard{
    background-color: rgb(233, 228, 228);
    color: black;

  }

  .gridCard{
    display: grid;
    gap: 20px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;

  }
  .maincontainerCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .textChildCard{
    display: grid;
    color: gray;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 100px;
    
  }
  .card {
    display: flex;
    gap: 50px;
    max-width: 80%;
    overflow-x: auto;
    padding-bottom: 100px;
    
  }
  .cardbox{
    background-color: white;
    border-radius: 10px;
    width: 300px;
    padding-top: 40px;
    margin-left: 100px;
    margin-bottom: 200px;
    height: auto;
  }
  .line{
    width: 70%;
    height: 5px;
    background-color: cyan;
    position: relative;
    top: 150px;
  }

  .cardData1{
    display: flex;
  }

  .card1 {
    background-color: #fcf8f8;
    margin-bottom: 115px;
    margin-top: -40px;
    z-index: 1;
    
  }
  
  .card2 {
    background-color: #fcf8f8;
    margin-bottom: 100px;
    margin-top: -20px;
    z-index: 1;
  }
  
  .card3 {
    background-color: #fcf8f8;
    margin-top: 10px;
    margin-bottom: 80px;
    z-index: 1;
  }
  

  
  .titleCard{
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    text-align: left;
    font-weight: bold;
  }
  .icon{
    position: relative;
    top : 4px;
    left: 5px;
    width: 40px;
    height: 2rem;
  }
  .absolute{
    background-color: rgb(26, 20, 54);
    width: 18%;
    height: 8vh; /* Set the height to match the width to create a perfect circle */
    border-radius: 50%;
    margin-top: -70px;
  }


  .infoCard{
    padding-left: 20px;
    padding-right: 20px;
    color: #333;
    
  }

  .section{
    height: 250px;
  }

  .bgCTA{
    width: 100%;
    height: 250px;
  }


  .mainContainerCTA{
    display: grid;
    margin-top: -220px;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }

  
  .startedCTA{
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background: rgb(103, 211, 238);
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 15px;
  }

  .bgFooter{
    background-color: rgb(19, 18, 18);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .text1 h2 {
    text-align: left;
    color: white;
    position: relative;
    left: 100px;
    top: 50px;
  }
  
  .flexFooter {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 400px;
    font-size: 15px;
    margin-top: -80px;
  }
  
  .kolom {
    flex: 1;
    padding: 0 30px; /* Add some spacing between the columns */
  }
  
  .link1,
  .link2,
  .link3,
  .linkFooter {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px; /* Add some spacing between the links */
  }
  

  .sosmed {
    display: flex;
    justify-content: flex-end; /* Move the icons to the right */
    margin-right: -250px;
    position: relative;
    top: -180px;
  }
  
  /* Style the individual social media icons */
  .facebok,
  .github,
  .instagram,
  .twitter {
    margin: 0 8px; /* Add some spacing between the icons */
    width: 26px;
    height: 26px;
    display: inline-block;
    fill: #fff;
  }
  
  .github {
    background-color: #333;
    border-radius: 50%; /* Make the icon circular */
  }
  

.containerShort {
    background-color: rgb(33, 33, 65);
    height: 150px;
    width: 1000px;
    border-radius: 10px;
    margin-top: -60px;
  }
  
  // .bgMobileShort{
  //   width: 1000px;
  //   height: 200px;
  //   border-radius: 10px;
  //   display: none;
  // }
  
  .isiCountainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .isi {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    width: 780px;
    height: 70px;
    position: relative;
    top: 45px;
    left: -15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    flex: 1;
    font-size: 16px;

    border: none;
    outline: none;
    border-radius: 10px 0 0 10px;
  }
  
  .submitted {
    display: flex;
    gap: 1rem ;
    align-items: center;
    position: relative;
  }
  
  .submit {
    border-radius: 10px;
    background-color: cyan;
    width: 130px;
    padding-top: 10px;
    position: relative;
    top: 45px;
    height: 70px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
 
  
 
  .submit1 {
    color: white;
    margin-left: -1px;
  }
  
  p.absolute {
    position: absolute;
    bottom: -25px;
    left: 0;
    font-size: 12px;
    color: red;
    opacity: 0;
    transform: translateY(1px);
    transition: all 0.3s ease;
  }

  .resultContainer{
    position: relative;
    display: grid;
    gap: 20px;
    flex-direction: column;
    color:  transparent;
    margin-top: 10px;

    .resultItemWrapper{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      z-index: 1;
      height: 100px;
      width: 73vw;
      background: #faf9f9;
      border-radius: 10px;
    }
  }

  .original {
    width: 500px; /* Adjust the width as needed */
    margin-right: 10px; /* Add margin between original and short */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .short{
    color: cyan;
    font-weight: bold;
    margin-right: -70px; /* Add margin between short and button */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
  }

  .btnLink{
    display: flex;
    justify-content: space-between;
    
  }

  .copy{
    border-radius: 10px;
    background-color: cyan;
    height: 50px;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;

    .copied{
    background-color: rgb(6, 21, 70);
    border-radius: 10px;
    height: 50px;
    color: rgb(80, 6, 6);
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    }
  }
  
  .clear {
    border-radius: 10px;
    background-color: red;
    height: 50px;
    color: white;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
  }
  .resultItem{
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15x;
    gap : 5rem;
    padding-top: 15px;
    height: auto;
  }
  .flexCard {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
    gap: 20px; /* Add some spacing between elements, adjust as needed */
  }

  .error {
    color: red;
    position: absolute;
    margin-top: 200px;
    margin-left: -800px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
  }

/* Add responsive styles for mobile devices */
@media screen and (max-width: 992px) {
  .mainContainer {
    padding-left: 1rem; /* Adjust the padding for smaller screens */
    overflow: hidden;

  }
  .flex{
    flex-direction: column-reverse;
    overflow: hidden;
  }

  .hero {
    padding-bottom: 1rem; /* Adjust the padding for smaller screens */
    width: 100%;
    overflow: hidden;
  }

  .grid{
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 400px;
    overflow: hidden;
  }

  .containerShort {
    background-color: rgb(33, 33, 65);
    width: 95%;
    border-radius: 10px;
    margin-top: 220px;
    overflow: hidden;
  }

  .resultContainer{
    display: grid;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center;
    color:  transparent;
    overflow: hidden;

    .resultItemWrapper{
      margin-bottom: 10px;
      height: auto;
      width: 88vw;
      background: #faf9f9;
      border-radius: 10px;
      overflow: hidden;
    }
  }
.original {
  width: 310px; /* Adjust the width as needed */
  margin-right: 10px; /* Add margin between original and short */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.short{
  color: rgb(255, 81, 0);
  margin-right: -100px; /* Add margin between short and button */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -100px;
}

.lineLink{
  background-color: gray;
  height: 0.1px;
  border: none;
  width: 86vw;
  margin-top: -80px;
  overflow: hidden;
}

.btnLink{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  margin-top: -40px;
  overflow: hidden;
}

.copy{
  border-radius: 10px;
  background-color: cyan;
  height: 50px;
  color: white;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 110px;
  overflow: hidden;

  .copied{
    background-color: rgb(6, 21, 70);
    border-radius: 10px;
    height: 50px;
    color: rgb(80, 6, 6);
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 110px;
    overflow: hidden;
  }
}

.clear {
  border-radius: 10px;
  background-color: red;
  height: 50px;
  color: white;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  overflow: hidden;
}

.textCTA{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top : -20px;
  color: white;
  position: relative;
  overflow: hidden;
}


.resultItem {
  display: grid;
  height: auto;
  overflow: hidden;
  grid-template-rows: 1fr 1fr auto; /* The original_link in the first row, short_link in the second row, and the "Copy" button in the third row */
  gap: 10px; /* Add some spacing between the elements inside the resultItem */
}

  p {
    margin-left: 10px;
    color: #23a6aa;
    overflow: hidden;
  }

  .bgCTA{
    width: 100%;
    height: 250px;
    overflow: hidden;
    
  }
  .relativeShort{
    position: relative;
    
  }
  .absoluteShort{
    overflow: hidden;

  }
  .bgMobileShort {
    display: none;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
  }

  .isiCountainer {
    display: flex;  
    flex-direction: column;
  }
  .isi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 50px;
    overflow: hidden;
    margin-top: -30px;
    margin-left: 24px;
  }
  input[type="text"] {
    flex: 1;
    font-size: 20px;
    border: none;
    outline: none;
    display: flex;
    width: 100%;
    padding-top: 30px;

  }
  .submitted {
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
  .submit{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 50px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin-left: -20px;
  }

  .cardbox {
    width: 100%; /* Make the cards occupy full width for smaller screens */
    margin-left: 0; /* Remove the left margin for smaller screens */
    margin-bottom: 20px; /* Adjust the margin for smaller screens */
    overflow: hidden;

  }
  .icon{
    position: relative;
    top : 1px;
    left: -1px;
    width: 70%;
    height: 65%;
    overflow: hidden;
  }

  .absolute{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgb(26, 20, 54);
    width: 15vw;
    height: 15vw; /* Set the height to match the width to create a perfect circle */
    border-radius: 50%;
    margin-top: -70px;
    left: 155px;

  }
  .line{
    width: 2vw;
    height: 700px;
    background-color: cyan;
    // z-index: 2;
    margin-top: 10px;
    top: -40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

  }
  .cardData1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 300px;
    margin-top: -750px;
    margin-left: 2rem; 
    gap: 2.5rem;
    padding-bottom: 100px;
    z-index: 2;
    overflow: hidden;
  }


  .card1 {
    margin-top: -10px;
    margin-bottom: 40px;
  }

  .card2 {
    margin-bottom: 20px;
  }

  .card3 {
    margin-top: -10px; 
  }

  .bgFooter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }

  .flexFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center align the text for mobile devices */
    margin-top: -30px;
    margin-left: 0px;
  }

  .text1{
    margin-top: -30px;
    margin-bottom: 100px;
    margin-left: 40px;
  }

  .sosmed {
    display: flex;
    justify-content: center;
    align-items: center; /* Vertically center the icons */
    margin-right: 10px;
    position: relative;
    top: 10px;
  }
  
  .titleCard{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-weight: bold;
  }

  .textChildCard{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    justify-items: center;
  }

  .gridCard{
    margin-top: -300px;
  }

  .error {
    color: rgb(235, 45, 12);
    margin-left: -170px;
    margin-top: 42px;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0);
  }

  

}

  
  

  