@import '@styles/base';

/* Base styles for the header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background-color: white;
  color: black;
  width: 100%;
  box-sizing: border-box;
}

/* Left side of the header */
.left {
  display: flex;
  align-items: center;

  .logo {
    font-size: 1.2rem;
    font-weight: bold;
    // margin-right: 1rem;
    // margin-left: -60px;
  }

  .navlinks {
    display: flex;
    list-style: none;

    li {
      margin-right: 1.5rem;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* Right side of the header */
.right {
  display: flex;
  align-items: center;

  .login {
    font-size: 1rem;
    margin-right: 2rem;
  }

  .signup {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: rgb(49, 163, 197);
    width: 90px;
    height: 50px;
    border-radius: 10px;
    color: white;
    margin-right: 2rem;
  }
}

/* Styles for the burger icon */
.burger {
  display: none; /* Hide the burger icon on desktop */
  width: 25px;
  height: 3px;
  background-color: #b31818;
  margin: 5px;
  margin-top: -20px;
  cursor: pointer;

  /* Add burger animation */
  &.rotateTop {
    transform: rotate(-45deg) translateY(4px);
  }
  &.hideBar {
    opacity: 0;
  }
  &.rotateBottom {
    transform: rotate(45deg) translateY(-4px);
  }
}

/* Style the mobile menu */
.mobileMenu {
  display: none; /* Hide the mobile menu by default */
  background-color: #4c205e; /* Change the background color */
  border-radius: 10px;
  width: 85%;
  height: 250px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-align: center;
  padding: 1rem; /* Add some padding to the menu */
  position: absolute; /* Position the menu over the content */
  top: 4rem; /* Adjust the top position according to your needs */
  right: 1rem; /* Adjust the right position according to your needs */
  z-index: 1; /* Ensure the menu is above other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a box shadow for depth */

  ul {
    list-style: none;
    padding: 0;
    margin: 2rem;
    li {
      margin-bottom: 1rem;
      cursor: pointer;
      color: white; /* Set text color for mobile menu items */
      // margin-left: 50px;
    }
  }
  .login{
    color: white;
    padding-bottom: 1rem;
    // margin-left: 50px;
  }
  .signup{
    color: white;
    background-color: aqua;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 90px;
    width: 150px;
    padding-top: 2px;
    height: 30px;
  }
}

.toggle {
  @include directionX;
  align-items: center;
  cursor: pointer;

  .avatar {
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .lang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .arrow {
    font-size: 1rem;
  }
}

.menu {
  @include directionX;
  align-items: center;

  .menuAvatar {
    width: 1rem;
    height: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .menuLang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}

/* Show the mobile menu when open */
.mobileMenu.showMenu {
  display: block;
}

/* Hide the desktop menu on mobile */
@media (max-width: 768px) {
  .header {

    padding-left: 2rem;
    padding-right: 4rem;
  }
  .left .navlinks li {
    display: none;
  }
  .right .login,
  .right .signup {
    display: none;
  }

  .burger {
    display: flex; /* Hide the burger icon on desktop */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    margin-right: -150px;
    margin-top: 10px;
  
    /* Add burger animation */
    &.rotateTop {
      transform: rotate(-45deg) translateY(4px);
    }
    &.hideBar {
      opacity: 0;
    }
    &.rotateBottom {
      transform: rotate(45deg) translateY(-4px);
    }
  }
  .translate{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}
